"*":
  Zen:
    showWordCount: "Right"
    width: 160
  "atom-terminal-panel":
    XExperimentEnableForceLinking: true
  "auto-update-packages":
    intervalMinutes: 60
  "bottom-dock": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "wrap-guide"
      "autosave"
      "archive-view"
      "autoflow"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-todo"
      "language-toml"
      "link"
      "open-on-github"
      "package-generator"
      "release-notes"
      "welcome"
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".vagrant"
      ".DS_Store"
      "node_modules"
      "bower_components"
    ]
    packagesWithKeymapsDisabled: [
      "one-dark-ui"
      "symbols-view"
    ]
    projectHome: "~"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr: {}
  editor:
    fontSize: 15
    invisibles: {}
    lineHeight: 1.6
    tabType: "soft"
  "exception-reporting":
    userId: "4c0a8964-75e3-df56-9b62-cd8d0b555513"
  linter:
    showErrorInline: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
    underlineIssues: false
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: true
    showEslintRules: true
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "one-dark-ui": {}
  "one-light-ui": {}
  react:
    enabledForAllJavascriptFiles: true
  "standard-formatter":
    checkStyleDevDependencies: true
  "sync-settings":
    gistId: "7af28eebcc8369e4ea5e"
    personalAccessToken: "d5a5c8984f8e241663ab948e75af543d28b8fee3"
  "terminal-panel":
    overrideLs: false
  "tree-view": {}
  welcome:
    showOnStartup: false
