"*":
  Zen:
    showWordCount: "Right"
    width: 160
  "atom-terminal-panel":
    XExperimentEnableForceLinking: true
  "auto-update-packages":
    intervalMinutes: 60
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  "bottom-dock": {}
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "wrap-guide"
      "autosave"
      "archive-view"
      "autoflow"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-toml"
      "open-on-github"
      "package-generator"
      "release-notes"
      "welcome"
      "linter-js-standard-engine"
    ]
    ignoredNames: [
      ".git"
      ".vagrant"
      ".DS_Store"
      "node_modules"
      "bower_components"
    ]
    packagesWithKeymapsDisabled: [
      "one-dark-ui"
      "symbols-view"
    ]
    projectHome: "~"
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  docblockr: {}
  editor:
    fontSize: 18
    invisibles: {}
    lineHeight: 2
    tabType: "soft"
  "exception-reporting":
    userId: "4c0a8964-75e3-df56-9b62-cd8d0b555513"
  "file-icons":
    coloured: false
    forceShow: true
  "flex-tool-bar": {}
  "git-control": {}
  linter:
    errorPanelHeight: 22
    ignoreMatchedFiles: "dist/**/**"
    underlineIssues: false
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: true
    showEslintRules: true
    style: "@niftyco/standard"
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui": {}
  "one-light-ui": {}
  react:
    enabledForAllJavascriptFiles: true
  "standard-formatter":
    checkStyleDevDependencies: true
  "sync-settings":
    _analyticsUserId: "2291dfdf-fddc-4e17-92e5-8bce1fb0378d"
    _lastBackupHash: "e92e19a11ab740760439a78891bc40280804274e"
    analytics: false
    gistId: "192c4f9287cc1502d860624bfe14b042"
    personalAccessToken: "9baa3154655c0bd10f6af79ff00d501268366fa1"
    quietUpdateCheck: true
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "terminal-panel":
    overrideLs: false
  "terminal-plus":
    ansiColors:
      normal:
        blue: "#6272a4"
        cyan: "#8ae9fd"
        green: "#4efa7b"
        magenta: "#ff79c6"
        red: "#ff5655"
        white: "#f8f8f2"
        yellow: "#f1fb8c"
    core:
      mapTerminalsTo: "Folder"
    iconColors:
      purple: "#bd93f9"
    style:
      animationSpeed: 0
      defaultPanelHeight: "500px"
      theme: "dracula"
    toggles:
      autoClose: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
